{% extends "main.html" %}
{% block section_title %}
<img src="{{ url_for('.static', filename='about.png') }}" class="midiconlarge"> About Cilantropy
<small>version {{ version }}
</small>
{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span9">
    <p>
      <strong>Cilantropy
      </strong> was created by 
      <a href="{{ author_url }}">{{ author }}
      </a> to provide an "easy-to-use" visual interface for Python newcomers. Today we have many
      nice distribution utilities like pip, distribute, etc, but we don't have a nice visual approach with these same goals.
    </p> 
    <br />
    <div class="page-header">
      <h2>
        <img src="{{ url_for('.static', filename='contribute.png') }}" class="midiconlarge"> Contributors
      </h2>
    </div>
    <p>
    <ul>
      <li>Tkachenko Igor
      </li>
    </ul>        
    </p>
  <div class="page-header">
    <h4>
      <a href="https://github.com/perone/stallion" target="_blank">Fork of the project by
      </a>:
    </h4>
  </div>
  <p>
  <ul>
    <li>Christian S. Perone
    </li>
    <li>Thomas Léveil
    </li>
    <li>Simon J Greenhill
    </li>
    <li>Roman Gladkov
    </li>
    <li>Marc Abramowitz
    </li>
  </ul>
  </p>
<div class="page-header">
  <h2>
    <img src="{{ url_for('.static', filename='contribute.png') }}" class="midiconlarge"> Get involved !
  </h2>
</div>
<p>
  If you want to contribute (
  <em>even with documentation
  </em>), please 
  <a href="https://github.com/foozzi/cilantropy">fork me at Github
  </a>, open issues, make suggestions. 
</p>
</div>
</div>
{% endblock %}
