<tr>
  <td>
    <strong>Download URL
    </strong>
  </td>
  <td>
    {% if distinfo["download-url"] %}
    <a href="{{ distinfo["download-url"] }}">
      <img src="{{ url_for('.static', filename='world.png') }}" class="midicon"> 
      {{ distinfo["download-url"] }}
    </a>
    {% else %}
    <span class="badge badge-danger">No download url specified
    </span>
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <strong>Requires
    </strong>
  </td>
  <td>
    {% set requires = distinfo["requires"] %}
    {% if not requires %}
    <span class="badge badge-danger">No requirements specified
    </span>
    {% elif requires is string %}
    {{ requires }}
    {% else %}
    <ul>
      {% for requirement in requires %}
      <li>{{ requirement }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <strong>Provides
    </strong>
  </td>
  <td>
    {% set provides = distinfo["provides"] %}
    {% if not provides %}
    <span class="badge badge-danger">No providers specified
    </span>
    {% elif provides is string %}
    {{ provides }}
    {% else %}
    <ul>
      {% for prov in provides %}
      <li>{{ prov }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <strong>Obsoletes
    </strong>
  </td>
  <td>
    {% set obsoletes = distinfo["obsoletes"] %}
    {% if not obsoletes %}
    <span class="badge badge-danger">No obsoletes specified
    </span>
    {% elif obsoletes is string %}
    {{ obsoletes }}
    {% else %}
    <ul>
      {% for obs in obsoletes %}
      <li>{{ obs }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </td>
</tr>
