<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update information 
      <small>PyPI Repository
      </small>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;
      </span>
    </button>
  </div>
  <div class="modal-body" id="modal-update-body">
    {% if not pypi_info %}
    <div class="alert block-message alert-error">
      <p>
        <strong>No PyPI information available !
        </strong> Cilantropy wasn't able to find 
        the package information at PyPI repository. Some reasons of this failure:
      </p>
      <br />
      <ul>
        <li>The PyPI repository doesn't have any information about the package.
        </li>
        <li>Cilantropy wasn't able to connect to PyPI.
        </li>
        <li>The package was manually installed.
        </li>
      </ul>
    </div>
    {% elif last_version_differ and not last_is_great %}
    <div class="alert alert-warning">
      <p>
        <strong>Only old version available ?!
        </strong> Your version is newer than the PyPI
        version !
      </p>
    </div>
    <p>
      The last version available at the PyPI repository (
      <strong>{{ pypi_info[0] }}
      </strong>) seems
      to be older than the version (
      <strong>{{ current_version }}
      </strong>) you have installed on your Python distribution. Some reasons of this:
    <ul>
      <li>You have manually installed a development version not yet available at PyPI repository.
      </li>
    </ul>
    </p>
  {% elif last_version_differ and last_is_great %}
  <div class="alert alert-info">
    <p>
      <strong>New version available !
      </strong> PyPI repository has a new version of the package !
    </p>				
  </div>
  {% if is_venv == False %}
  <div class="alert alert-warning" role="alert">
    <p>
      <strong>Be sure
      </strong> that you are not currently in a virtual environment, updating system packages may cause your system to malfunction
    </p>
  </div>
  {% endif %}
  <div class="alert alert-danger">
    <p>
      <strong>Please make sure
      </strong> that updating this package will not affect your system! Please use a virtual environment
    </p>	
    <p>
      <button class="btn btn-warning" id="btn_check_upgrade2">Upgrade this package
      </button>
    </p>
  </div>			
  <p>
    A new version of the package 
    <strong>{{ dist_name }}
    </strong> was found in the official
    PyPI repository. You have the version 
    <strong>{{ current_version }}
    </strong> 
    <span class="badge badge-secondary">YOUR VERSION
    </span>, and the last version on the PyPI repository
    is 
    <strong>{{ pypi_info[0] }}
    </strong> 
    <span class="badge badge-success">NEW
    </span>.
  </p>
  <p>
    You can use 
    <strong>pip
    </strong> to update it using the following
    command:
  </p> 
  <br />
  <code>
    pip install --upgrade {{ dist_name }}
  </code> 
  <br /> 
  <br />
  <p>
    You can check more information about 
    <strong>pip
    </strong> on the
    <a href="http://www.pip-installer.org">project documentation site
    </a>.
  </p>
  {% else %}
  <div class="alert alert-success">
    <p>
      <strong>Already ok !
      </strong> Your version is the last version !
    </p>
  </div>
  <p>
    The version 
    <strong>{{ current_version }}
    </strong> you have installed on
    your Python distribution is the same as the last version available at 
    PyPI repository.
  </p>
  {% endif %}
  {% if pypi_info %}
  <div class="page-header">
    <h3>PyPI Information 
      <small>via RPC
      </small>
    </h3>
  </div>
  <p>
    PyPI has 
    <strong>{{ pypi_info|length }}
    </strong> releases available for the
    package 
    <strong>{{ dist_name }}
    </strong>, the last five of them are:
  </p>
  <ul>
    {% for version in pypi_info[:5] %}
    {% if version|lower == current_version|lower %}
    <li>{{ version }} 
      <span class="badge badge-secondary">YOUR VERSION
      </span>
    </li>
    {% elif version|lower == pypi_info[0]|lower %}
    <li>{{ version }} 
      <span class="badge badge-success">NEW
      </span>
    </li>
    {% else %}
    <li>{{ version }}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="modal-footer">      	
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss
  </button>
</div>
</div>
<script type="text/javascript">
  $('#btn_dismiss').click(function() {
    $('#modal-update').modal('hide');
  }
                         );
  // button for install upgrades is click trigger
  $('#btn_check_upgrade2').click(function() {
    $('#modal-update').modal('hide');
    var button = $(this)
    $(button).prop('disabled', true);
    $(button).text('Upgrading...');
    $.get('{{ url_for(".pypi_upgrade",dist_name=dist_name) }}', function(data) {
      $('#modal-upgrade .modal-dialog').html(data);
      $('#modal-upgrade').modal('show');
      $(button).prop('disabled', false);
      $(button).text('Upgrade this package');
    }
         );
  }
                                );
</script>
