{% extends "main.html" %}
{% block section_title %}
<img src="{{ url_for('.static', filename='terminal-icon.png') }}" class="midiconlarge"> System Information
{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span3">
    Welcome to 
    <strong>Cilantropy
    </strong>, a Package Manager for Python. In this page you'll find information
    about the system the Python interpreter is running.
    <br />	
    <br />
    On the left side you'll find the packages currently installed on your Python installation.
    <br />	
    <br />
    Feel free to contribute to the project at 
    <strong>Github
    </strong>, see more information about it
    on the 
    <a href="{{ url_for('.about') }}">About
    </a> section.
  </div>
  <div class="span6">
    <table class="table table-striped">
      <tbody>
        {% for key, value in system_information|dictsort %}
        <tr>
          <td>
            <strong>{{ key }}
            </strong>
          </td>
          <td>{{ value }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
